<header>
  <div class="navbar" id="navbar01div">
    <ul class="navbar01">
      <li class="listR"><a routerLink="/">{{ appTitle }}</a></li>
      <li class="listR"><a routerLink="/register">Register</a></li>
      <li class="listR"><a routerLink="/login">Login</a></li>
    </ul>
  </div>
  <div class="navbar" id="navbar02div">
    <ul class="navbar01">
      <li class="listR"><a routerLink="/">{{ appTitle }}</a></li>
      <li class="listR"><a routerLink="/products">Products</a></li>
      <li class="listR"><a routerLink="/categories">Categories</a></li>
      <li class="listR"><a routerLink="/login">Logout</a></li>
    </ul>
  </div>
</header>
<div class="online" id="dvnavonline">
  <label id="lblsystemInfo" name="lblsystemInfo"></label>
  <label id="lbl02" name="lbl02">....</label>
  <label id="lblonline1" name="lblonline1"></label>
</div>
