<app-nav></app-nav>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<router-outlet></router-outlet>
<div class="dvonline">
  <img id="appImage1" name="appImage1" width="100" alt="Wmsapp02" src="./assets/pro2020.jpg">
  <img id="appImage2" name="appImage2" width="100" alt="Wmsapp02" src="./assets/1001.jpg">
  <img id="appImage3" name="appImage3" width="100" alt="Wmsapp02" src="./assets/prop.jpg">
  <img id="appImage4" name="appImage4" width="100" alt="Wmsapp02" src="./assets/1001.jpg">
</div>
<hr>
<div class="dvonline">
  <label id="lblonline2" name="lblonline2"></label>
  <input type="text" name="urltxt2" id="urltxt2" value="">
  <input type="text" name="urlProtocol2" id="urlProtocol2" value="">
  <input type="text" name="url2b" id="url2b" value="">
  <input type="text" name="onlinetoken2" id="onlinetoken2" value="">
</div>
<div class="dvonline">
  <label id="lblonline3" name="lblonline3">{{ urlocationHref }}</label>
  <label id="lblonline4" name="lblonline4">{{ dbDate }}</label>
</div>
<div class="dvonline">
  <label id="lbltoken" name="lbltoken">wms22</label>
  <label id="lblonline" name="lblonline">..false</label>
  <label id="lblname" name="lblname">..wmsapp..</label>
  <label id="lblemail" name="lblemail">wms22@wmsapp.org</label>
</div>
